.checkbox {
	display: inline-flex;
	gap: 0.5rem;
	align-items: flex-start;
	font-size: var(--fs-small);
	user-select: none;
	cursor: pointer;
}
.checkbox:focus-visible {
	outline: auto;
}

.checkbox__marker {
	width: 1rem;
	height: 1rem;
	display: grid;
	place-items: center;
	border: 0.1rem solid var(--secondary-color);
	border-radius: var(--br-small);
	margin-top: 0.25rem;
}
.checkbox__marker::after {
	content: "";
	width: 0.7rem;
	height: 0.35rem;
	border-left: 0.15rem solid var(--primary-color);
	border-bottom: 0.15rem solid var(--primary-color);
	rotate: -45deg;
}

.checkbox__input:checked + .checkbox__marker {
	background: var(--accent-color);
	border-color: var(--accent-color);
}

.checkbox__required {
	color: var(--danger-color);
	margin-left: 0.3rem;
}
