/* General styles */
.teamRules__section__flex {
	display: flex;
	gap: 3rem;
}

.teamRules__section__inputs {
	width: 13rem;
	flex-shrink: 0;
}

.teamRules__row {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin-bottom: 1rem;
}

.teamRules__row__text {
	width: 9rem;
}

.teamRules__row__input {
	width: 3.5rem;
}

.teamRules__row__input input {
	text-align: center;
}

.teamRules__section__info p:last-child {
	margin-bottom: 0;
}

.teamRules__save {
	margin-top: -1rem;
}

@media screen and (max-width: 768px) {
	.teamRules__section__flex {
		flex-wrap: wrap;
		gap: 2rem;
	}

	.teamRules__section__flex .teamRules__row:last-child {
		margin-bottom: 0;
	}
}
