.teamSettings__flex {
	display: flex;
	gap: 2rem;
	align-items: flex-end;
}

@media screen and (max-width: 768px) {
	.teamSettings__admin {
		flex-wrap: wrap;
		gap: 1.5rem;
		justify-content: center;
	}

	.teamSettings__admin__select {
		width: 100%;
	}
}

@media screen and (max-width: 576px) {
	.teamSettings__code {
		gap: 0.5rem;
		justify-content: space-between;
	}

	.teamSettings__delete {
		display: flex;
		margin-inline: auto;
	}
}
