.tournaments__title {
	margin-bottom: 1rem;
}

.tournaments__p {
	text-align: center;
}

.tournaments__section--select {
	background: var(--secondary-color);
}

.tournament__select__form {
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
	align-items: flex-end;
}
